.column {
  width: 300px;
  float: left;
}
img {
  float: left;
  width: 400px;
  padding: 2%;
  margin: 2%;
  border: solid black;
  box-sizing: border-box;
  background-color: red;
}
.title {
  text-align: center;
}
.sidebar {
  float: right;
  margin-right: 100px;
  border: solid rgb(2, 2, 2);
  padding: 4px;
  background-color: Orange;
}